In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [65]:
class TwoD_LinReg:
    def __init__(self):
        self.a = None
        self.b = None
        self.c = None
        self.y_mean = None
    
    def fit(self, x_train, y_train):
        x1_mean = np.mean(x_train.iloc[:,0])
        x2_mean = np.mean(x_train.iloc[:,1])
        self.y_mean = np.mean(y_train)
        
        x1_ = x_train.iloc[:,0] - x1_mean
        x2_ = x_train.iloc[:,1] - x2_mean
        y_ = y_train - self.y_mean
        
        p_ = sum(y_ * x1_) / sum(x1_ * x1_)
        q_ = sum(x2_ * x1_) / sum(x1_ * x1_)
        
        self.c = (sum(y_ * x2_) - p_ * (sum(x1_ * x2_))) / (sum(x2_ * x2_) - q_ * sum(x1_ * x2_))
        self.b = p_ - self.c * q_
        self.a = self.y_mean - self.b * x1_mean - self.c * x2_mean
        return self.a, self.b, self.c
    
    def predict(self, x_test):
        y_pred = self.a + (self.b * x_test.iloc[:,0]) + (self.c * x_test.iloc[:,1])
        return y_pred

    def r2_score(self, y_test, y_pred):
        num = sum((y_test - y_pred)**2)
        den = sum((y_test - self.y_mean)**2)
        r2_score = 1 - num/den
        return r2_score

In [66]:
df = pd.read_csv("LinRegTest.csv")

In [67]:
df.head()

   cgpa   iq  salary
0  3.55   63    5.24
1  8.98  115   10.96
2  1.19   61    2.77
3  7.42  103   11.20
4  5.47   63    8.52

In [68]:
x, y = df.iloc[:,0:-1], df.iloc[:,-1]

In [69]:
x_train, x_test, y_train, y_test = train_test_split(x, y, train_size= 0.8, random_state = 5)

In [70]:
my_LR = TwoD_LinReg()

a, b, c = my_LR.fit(x_train, y_train)

In [79]:
print(a)
print(b)
print(c)

print(f"Linear Regression Equation:    Y = ({round(a,2)}) + ({round(b,2)})cgpa + ({round(c,2)})iq")

-5.222991911538888
0.7653961826941007
0.12215441259061671
Linear Regression Equation:    Y = (-5.22) + (0.77)cgpa + (0.12)iq

In [72]:
x_test.shape

(20, 2)

In [78]:
y_pred = my_LR.predict(x_test)

In [76]:
r2 = my_LR.r2_score(y_test, y_pred)
print(r2)

0.8591026856693663